<div class="authContent">
    <h1 class="authTitle">Login</h1>
    <form class="authForm">
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <div class="createAcc">
        <a href="{{route('auth.create')}}">Não possui conta? <span>Clique aqui.</span></a>
    </div>
</div>